<?xml version="1.0"?>
<configuration>
<!--    <system.net>
        <defaultProxy useDefaultCredentials="true">
            <proxy bypassonlocal="False" proxyaddress="http://gateway:8080" />
            <proxy_test usesystemdefault="True"/>
        </defaultProxy>
    </system.net>
-->
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="httpLiveAuth" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:30:00" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferSize="10485760" maxBufferPoolSize="10485760" maxReceivedMessageSize="10485760" messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true">
                    <readerQuotas maxDepth="32" maxStringContentLength="10485760" maxArrayLength="10485760" maxBytesPerRead="10485760" maxNameTableCharCount="16384"/>
                    <security mode="None">
                        <transport clientCredentialType="None" proxyCredentialType="None" realm=""/>
                        <message clientCredentialType="UserName" algorithmSuite="Default"/>
                    </security>
                </binding>
            </basicHttpBinding>
            <!--<wsHttpBinding>
                <binding name="wshttp" closeTimeout="00:01:00" openTimeout="00:01:00"
                    receiveTimeout="00:10:00" sendTimeout="00:01:00" bypassProxyOnLocal="false"
                    transactionFlow="false" hostNameComparisonMode="StrongWildcard"
                    maxBufferPoolSize="524288" maxReceivedMessageSize="65536"
                    messageEncoding="Text" textEncoding="utf-8" useDefaultWebProxy="true"
                    allowCookies="false">
                    <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
                        maxBytesPerRead="4096" maxNameTableCharCount="16384" />
                    <reliableSession ordered="true" inactivityTimeout="00:10:00"
                        enabled="false" />
                    <security mode="None">
                        <transport clientCredentialType="Windows" proxyCredentialType="None"
                            realm="" />
                        <message clientCredentialType="Windows" negotiateServiceCredential="true" />
                    </security>
                </binding>
            </wsHttpBinding>-->
        </bindings>
      <client>
        <endpoint address="http://cpslite.community.services.support.microsoft.com/QnA.svc/LiveAuth" binding="basicHttpBinding" bindingConfiguration="httpLiveAuth" contract="IQnA" name="httpLiveAuth"/>

        <!--<endpoint address="http://157.56.56.234/qna.svc/LiveAuth"
          binding="basicHttpBinding" bindingConfiguration="httpLiveAuth"
          contract="IQnA" name="httpLiveAuth" />-->
        
      </client>
    </system.serviceModel>
    <startup>
        
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/></startup>
 
    <!--    <system.diagnostics>
        <sources>
            <source name="NNTPServer" switchName="NNTPServer" switchType="System.Diagnostics.SourceSwitch">
                <listeners>
                    <add name="fileListener"/>
                </listeners>
            </source>
            <source name="Main" switchName="Main" switchType="System.Diagnostics.SourceSwitch">
                <listeners>
                    <add name="fileListener"/>
                </listeners>
            </source>
            <source name="WebService" switchName="WebService" switchType="System.Diagnostics.SourceSwitch">
                <listeners>
                    <add name="fileListener"/>
                </listeners>
            </source>
        </sources>
        <switches>
            <add name="Main" value="Verbose"/>
            <add name="NNTPServer" value="Verbose"/>
            <add name="WebService" value="Verbose"/>
        </switches>
        <sharedListeners>
            <add name="fileListener" type="System.Diagnostics.TextWriterTraceListener"
              traceOutputOptions="ProcessId, DateTime"
              initializeData="C:\Temp\CommunityBridge.log">
                <filter type="System.Diagnostics.EventTypeFilter" initializeData="Verbose"/>
            </add>
        </sharedListeners>
    </system.diagnostics>-->


  <!--<runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Data.SqlServerCe" publicKeyToken="89845dcd8080cc91" culture="neutral"/>
        <bindingRedirect oldVersion="3.5.1.0-3.5.1.50" newVersion="3.5.1.50"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>-->
  <system.data>
    <DbProviderFactories>
      <remove invariant="System.Data.SqlServerCe.3.5"></remove>
      <add name="Microsoft SQL Server Compact Data Provider" invariant="System.Data.SqlServerCe.3.5" description=".NET Framework Data Provider for Microsoft SQL Server Compact" type="System.Data.SqlServerCe.SqlCeProviderFactory, System.Data.SqlServerCe, Version=3.5.1.0, Culture=neutral, PublicKeyToken=89845dcd8080cc91"/>
    </DbProviderFactories>
  </system.data>

</configuration>
